# Fichiers d'environnement
.env
env/
/env
/.venv
venv/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Fichiers Rust
/target/
Cargo.lock
**/*.rs.bk

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
/.idea/
.vscode/
*.swp
*.swo

# Logs et bases de données
*.log
*.sqlite
*.db